.apartments {
  padding: 20px 0 45px;

  &__title {
    margin-bottom: 26px;
  }

  &__form {
    margin-bottom: 45px;
    transition: 0.3s;
  }

  &__selects {
    display: flex;
    gap: 30px;
  }

  &__select {
    max-width: 328px;
    width: 100%;
    margin-bottom: 30px;
  }

  &__select-title {
    font-size: 14px;
    color: #a5a5a5;
    margin-bottom: 8px;
  }

  &__checkboxes-wrap {
    margin-bottom: 30px;
  }

  &__checkboxes+.apartments__checkboxes {
    margin-top: 24px;
  }

  &__checkboxes-inner {
    display: flex;
    gap: 32px;
  }

  &__checkboxes-title {
    font-size: 14px;
    color: #a5a5a5;
    margin-bottom: 8px;
  }

  &__checkboxes-input {
    &:checked+.apartments__checkboxes-custom::after {
      display: block;
    }

    &:checked+.apartments__checkboxes-custom {
      background: linear-gradient(142.54deg, #ffffff -17.39%, #fffbef 108.92%, #f1f1f1 117.64%);
    }
  }

  &__checkboxes-custom {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    width: 18px;
    height: 18px;
    background: linear-gradient(114.28deg, #252627 3.98%, #2f2f33 122.75%);
    border-radius: 2px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      background-image: url('@img/icons/check.svg');
      background-repeat: no-repeat;
      background-position: center;
      display: none;
    }
  }

  &__box {
    padding: 24px;
    background: linear-gradient(114.28deg, #252627 3.98%, #2f2f33 122.75%);
    border-radius: 12px;

    .apartments__selects-item {
      margin-bottom: 28px;
    }
  }

  &__box-showmore {
    font-weight: 500;
    padding-bottom: 8px;
    border-bottom: 1px solid #fbf8f3;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 24px;
  }

  .select {
    margin-bottom: 24px;
  }
}

.item-apartments {
  display: flex;
  flex-direction: column;
  min-height: 520px;
  padding: 24px;
  border: 1px solid #39393c;
  background: linear-gradient(114.28deg, #252627 3.98%, #2f2f33 122.75%);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 6px;

  &__number {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 19/16 * 1;
    letter-spacing: 0.02em;
    color: #858585;
    text-align: center;
  }

  &__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 14px;
    object-fit: cover;
  }

  &__list {
    padding-bottom: 14px;
    border-bottom: 1px solid #444446;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 139.02%;
    letter-spacing: 0.023em;
    color: #c3c3c3;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.apartments-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  letter-spacing: 0.023em;
  margin-top: auto;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--square {
      text-align: left;
    }

    &--price {
      text-align: right;
    }

    span {
      display: block;

      &:first-child {
        color: #858585;
      }
    }
  }
}