.similar {
  padding: 45px 0;
  &__title {
    margin-bottom: 24px;
  }
  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
  }
  .swiper-pagination-bullets {
    bottom: 0;
  }
}