html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #eaeaea;
  background-color: #232323;

  &.noscroll {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-btn {
  display: none;
  width: 50px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #38383a;
  border-radius: 50%;
  background-color: #2b2c2e;

  span {
    width: 26px;
    height: 2px;
    background-color: #eaeaea;
    transition: 0.3s;

    &+span {
      margin-top: 8px;
    }
  }
}

.choices {
  margin-bottom: 0;
}

.choices__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  background: linear-gradient(114.28deg, #252627 3.98%, #2F2F33 122.75%);
  border: none;
  font-size: 15px;
  line-height: 18/15 * 1;
  border: 1px solid #39393c;
}

.choices[data-type*=select-one] .choices__inner {
  padding: 16px;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  background: linear-gradient(114.28deg, #252627 3.98%, #2f2f33 122.75%);
  border: 1px solid #373739;
  border-bottom: none;
  border-radius: 3px;
  z-index: 2;
}

.choices__list--single {
  padding: 0;
}

@media (min-width: 640px) {

  .choices__list--dropdown .choices__item--selectable,
  .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 10px;
  }
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  padding: 8px;
  border-bottom: 1px solid #373739;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background: #858585;
}

.choices__item--selectable.is-highlighted::after {
  display: none;
}

.choices[data-type*='select-one']::after {
  content: '';
  height: 8px;
  width: 11px;
  background-image: url('@img/icons/arrow-down.svg');
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  right: 16px;
  top: 50%;
  pointer-events: none;
  transition: 0.5s;
}

.choices.is-open::after {
  transform: rotateX(180deg);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 60px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #f4f3f1;
  color: #232323;
  font-weight: 500;
  font-size: 19px;
  transition: 0.3s;

  .no-touch &:hover {
    background-color: #c3c3c3;
  }
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 30px;

  &__item {
    max-width: 328px;
    width: 100%;
  }

  &__item-body {
    background: linear-gradient(114.28deg, #252627 3.98%, #2f2f33 122.75%);
    border-radius: 4px;
    padding: 16px;
    border: 1px solid #39393c;
  }

  &__item-value {
    font-weight: 300;
  }

  &__item-title {
    font-size: 14px;
    color: #a5a5a5;
    margin-bottom: 8px;
  }

  &__item-checkbox {

    &:checked+.filter-rooms__checkbox {
      background: linear-gradient(93.53deg, #ffffff -12.52%, #ebeae5 102.93%);
      color: #232323;
    }
  }

  .filter-rooms {
    &__checkbox {
      background: linear-gradient(114.28deg, #252627 3.98%, #2f2f33 122.75%);
      border-radius: 4px;
      padding: 16px;
      min-width: 57px;
      text-align: center;
      display: block;
      border: 1px solid #39393c;
    }

    &__labels {
      display: flex;
      justify-content: space-between;
      font-weight: 300;
      max-width: 328px;
    }

    &__labels--big {
      max-width: 100%;
      gap: 5px;
    }
  }
}

.irs--flat {
  height: auto;
}

.irs--flat .irs-handle {
  top: 9px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $accent-color;
  cursor: pointer;
}

.irs-from,
.irs-single,
.irs-to {
  display: none;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-bar {
  height: 1px;
  background-color: $accent-color;
  top: 17px;
}

.irs--flat .irs-line {
  height: 1px;
  top: 17px;
  background-color: rgba(118, 123, 255, 0.5);
  box-shadow: 0px 0px 5px rgba(118, 123, 255, 0.35);
}

.irs--flat .irs-max,
.irs--flat .irs-min {
  display: none;
}

.irs-hidden-input {
  transform: translateX(-1000%);
}

.title {
  font-size: 38px;
  line-height: 46/38 * 1;
  letter-spacing: 0.02em;
}

.swiper-button-prev,
.swiper-button-next {
  width: 38px;
  height: 38px;
}

.swiper-button-prev {
  background-image: url('@img/icons/prev-btn.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.swiper-button-next {
  background-image: url('@img/icons/next-btn.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-disabled {
  opacity: 1;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.swiper-button-prev.swiper-button-disabled {
  background-image: url('@img/icons/btn-disabled-prev.svg');
}

.swiper-button-next.swiper-button-disabled {
  background-image: url('@img/icons/btn-disabled-next.svg');
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: $accent-color;
  border-radius: 20px;
}

.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
  border-radius: 20px;
}

.swiper-pagination {
  top: auto;
  bottom: 0;
}

.swiper-pagination-bullet {
  background: rgba(251, 248, 243, 0.9);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #767bff;
}

.slider-fraction {
  display: flex;
  position: absolute;
  right: 116px;
  bottom: 8px;
  font-size: 16px;
}

.form {
  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    border-top: 1px solid #a6a6a6;
  }

  &__btn,
  &__reset {
    max-width: 200px;
  }

  &__btn-submit {
    opacity: 0;
    height: 0;
    visibility: hidden;
  }
}

.show-filters {
  display: none;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 10px;
    background-image: url('@img/icons/arrow-down-black.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.3s;
  }

  &.active::after {
    transform: rotateX(180deg);
  }
}